.gridStyle{
    width: 850px;
}
.disabled{
    color: gray;
}
.icon{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: 4px 4px;
}
.male{
    background-image: url('../img/glyphicons_003_user.png');
}
.female{
    background-image: url('../img/glyphicons_004_girl.png');
}
#row-details{
    display: none; 
    float: right; 
    width: 500px;
    border: solid gray thin;
    margin-right: 50px;
}
#row-details span{
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}
.header{
    background-color: gray;
    border-bottom: solid lightgray thin;
    color: white;
    padding: 10px;
}